@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    background: var(--second-bg-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 80px;
    position: sticky;
    top: 0;
    z-index: 99;
    animation: drop 3s 1;
    transition: 0.5s;
    background: var(--second-bg-color);
}

header.sticky {
    box-shadow: 0 2px 1px var(--bg-color);
}

@keyframes drop {
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li .active {
    color: var(--main-color);
}

header nav ul li a:not(nav ul li ul li a):hover {
    color: var(--main-color);
}

header nav ul li a:not(nav ul li ul li a) {
    transition: 0.3s ease-in;
}

header nav ul a {
    color: var(--text-color);
}

header nav ul li:not(nav ul li ul li) {
    padding: 17px 10px;
    position: relative;
}

header nav ul li ul .animate {
    position: relative;
    width: fit-content;
    height: fit-content;
    background: inherit;
    z-index: 8;
    width: 100%;
}

header nav ul li ul::after {
    content: "";
    width: 14.7vw;
    height: 100%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
        0deg, transparent, transparent, var(--main-color), var(--main-color), var(--main-color)
    );
    position: absolute;
    animation: rotate 5s linear infinite;
    animation-delay: -4.5s;
    transform-origin: bottom right;
    z-index: 1;
    animation-delay: -3s;
}

header nav ul li ul::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 14.7vw;
    height: 100%;
    background: linear-gradient(
        0deg, transparent, transparent, var(--main-color), var(--main-color), var(--main-color)
    );
    z-index: 1;
    animation: rotate 5s linear infinite;
    transform-origin: bottom right;
}

.borderLine::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 14.7vw;
    height: 100%;
    background: linear-gradient(
        0deg, transparent, transparent, #ff2770, #ff2770, #ff2770
    );
    z-index: 1;
    animation: rotate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;
}

.borderLine::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 14.7vw;
    height: 100%;
    background: linear-gradient(
        0deg, transparent, transparent, #ff2770, #ff2770, #ff2770
    );
    z-index: 1;
    animation: rotate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header nav ul li ul {
    overflow: hidden;
    padding: 5px;
    position: absolute;
    display: block;
    width: 14.7vw;
    top: 70px;
    border-radius: 5px;
    background: var(--second-bg-color);
    visibility: hidden;
    pointer-events: none;
}

header nav ul li:hover ul {
    transition: 0.4s;
    visibility: visible;
    top: 55px;
    pointer-events: auto;
}

header nav ul li ul li {
    padding: 5px 8px;
    margin: 8px 0;
}

header nav ul li ul li:first-child,
header nav ul li ul li:last-child {
    margin: 0;
}

header nav ul li ul li:hover {
    background: var(--main-color);
}

header nav ul li ul li a {
    font-size: 0.9rem;
}

.banner {
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 140px 80px;
}

.banner .text {
    width: 50%;
    color: var(--text-color);
    padding: 50px;
}

.banner .text h3 {
    font-size: 1em;
    font-weight: 700;
}

.banner .text h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    color: var(--main-color);
}

.banner .text a {
    color: var(--text-color);
}

.banner .text .btn {
    position: relative;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    margin-top: 10px;
}

.banner .text .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300%;
    top: -100%;
    left: 0;
    background: linear-gradient(
        var(--bg-color), var(--main-color), var(--bg-color), var(--main-color)
    );
    z-index: -1;
    transition: 0.8s;
}

.banner .text .btn:hover::before {
    top: 0;
}

.banner .background {
    width: 50%;
    height: 53vh;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}

.banner .background:hover {
    box-shadow: 0 0 30px;
}

.banner .background .slider {
    display: flex;
    width: 100%;
    height: 100%;
    height: inherit;
    animation: slide 15s infinite linear 0s;
}

.banner .background .slider img {
    width: 100%;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

section h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 0;
}

section h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    margin: auto;
    margin-top: 2px;
    background: var(--main-color);
}

.programs {
    padding: 20px 80px;
    background: var(--bg-color);
}

.program-box {
    /* background: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
}

.program-box .content-box {
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.program-box .content-box img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.program-box .content-box .content h3 {
    text-align: center;
    /* font-size: 1.4rem; */
    color: var(--main-color);
}

.program-box .content-box .content p {
    text-align: justify;
    color: var(--text-color);
}


.content {
    padding: 5px;
}

.program-box .content-box button {
    width: 100%;
    position: relative;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
}

.program-box .content-box button a {
    color: var(--text-color);
}

.program-box .content-box button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300%;
    top: -100%;
    left: 0;
    background: linear-gradient(
        var(--bg-color), var(--main-color), var(--bg-color), var(--main-color)
    );
    z-index: -1;
    transition: 0.8s;
}

.program-box .content-box button:hover::before {
    top: 0;
}