@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --height: calc(100vh - 98.819px);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--second-bg-color);
}

section > h1 {
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    color: var(--text-color);
}
section > h1::after {
    content: "";
    display: block;
    width: 60px;
    background-color: var(--main-color);
    height: 3px;
    margin: auto;
}
/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
} */
header {
    display: flex;
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 9;
}
header .fa-bars {
    font-size: 230%;
    cursor: pointer;
    display: none;
}
header .fa-close {
    font-size: 200%;
    cursor: pointer;
    display: none;
}
header #title {
    cursor: pointer;
}
header #title h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
header #title span {
    font-size: 150%;
    font-weight: lighter;
}
header nav #all-ul {
    display: flex;
    list-style: none;
    text-align: center;
}
header nav #all-ul li {
    padding: 20px 10px;
    align-items: center;
    height: fit-content;
    cursor: default;
}
header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    transition: 0.7s;
}
header nav ul li a:hover {
    color: var(--main-color);
}
header button {
    background-color: var(--main-color);
    padding: 13px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
header button:hover {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
header nav ul #btn {
    display: none;
    box-shadow: 5px 5px 5px var(--bg-color);
    color: var(--bg-color);
    font-weight: 600;
}
header nav ul #btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}
header nav ul #btn:active {
    box-shadow: none;
}
input[type=checkbox] {
    display: none;
}
#hero {
    background-image: url(images/computer-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
#hero .content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px;
    position: relative;
}
#hero .content h1 {
    color: var(--bg-color);
}
#hero .content .btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#hero .content button {
    border: none;
    background-color: var(--main-color);
    padding: 14px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7s;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 5px 5px 5px var(--bg-color);
    color: var(--bg-color);
}
                     /* ↑ ↓↓ ➡ */

#hero .content button::after {
    content: "→";
    position: relative;
    left: 5px;
    font-weight: bold;
    font-size: 140%;
    animation: shift 1.5s infinite alternate 0s;
}
@keyframes shift {
    from {
        left: 2px;
    }
    to {
        left: 10px;
    }
}
#hero .content button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 3px 3px 5px var(--main-color);
}
#hero .content button:active {
    box-shadow: none;
}
#about {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 100px 40px;
    display: grid;
    align-items: center;
}
#about h1 {
    text-align: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#about > p {
    text-align: center;
    color: var(--main-color);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}
#about article {
    display: flex;
    gap: 45px;
    height: auto;
}
#about .about-img {
    width: 50%;
    height: inherit;
    background-image: url(images/computer-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}
#about .about-text {
    width: 50%;
    padding: 20px;
}
#about .about-text ul {
    list-style: none;
}
#about .about-text ul li {
    margin-bottom: 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 130%;
}
#about .about-text ul li::before {
    content: "✔";
    position: relative;
    padding: 0 10px;
    color: var(--main-color);
}
#about .about-text p {
    padding: 10px;
    line-height: 150%;
    text-align: justify;
    font-size: 150%;
}
#about .about-text .more {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#about .about-text .more button {
    border: none;
    background-color: var(--main-color);
    padding: 14px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7s;
    font-weight: 600;
    box-shadow: 5px 5px 5px var(--second-bg-color);
    color: var(--bg-color);
}
#about .about-text .more button::after {
    content: "→";
    position: relative;
    left: 5px;
    font-weight: bold;
    font-size: 140%;
    animation: shift 1.5s infinite alternate 0s;
}
#about .about-text .more button:hover {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    box-shadow: 3px 3px 5px var(--main-color);
}
#about .about-text .more button:active {
    box-shadow: none;
}

#team {
    background-color: var(--second-bg-color);
    padding: 100px 20px;
}

#team > p {
    text-align: center;
    color: var(--main-color);
    padding: 20px;
    line-height: 150%;
}
#team main {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    padding:40px 0px;
}
#team article {
    flex-basis: 20%;
    border-radius: 15px;
    padding: 15px;
    box-shadow:0 0 15px;
    padding: 15px;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: inherit;
}
#team article img {
    width: 100%;
    border-radius: 15px;
    height: 230px;
}
#team article h1 {
    color: var(--main-color);
}
#team article p {
    color: var(--text-color);
}
#team article .social {
    display: flex;
    gap: 20px;
    justify-content: center;
}
#team article .social .fa {
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid var(--bg-color);
    padding: 10px;
    border-radius: 50px;
    transition: ease-in-out 0.7s;
    font-size: 140%;
}
#team article .social .fa-facebook:hover {
    background-color: #3b5998;
    color: var(--text-color);
    border: 2px solid #3b5998;
    transform: translateY(-4px);
}
#team article .social .fa-linkedin:hover {
    background-color: blue;
    color: var(--text-color);
    border: 2px solid blue;
    transform: translateY(-4px);
}
#team article .social .fa-twitter:hover {
    background-color: #55ACEE;
    color: var(--text-color);
    border: 2px solid #55ACEE;
    transform: translateY(-4px);
}
#team article .social .fa-instagram:hover {
    background-color: rgb(218, 12, 153);
    color: var(--text-color);
    border: 2px solid rgb(218, 12, 153);
    transform: translateY(-4px);
}
#subscribe {
    background-color: var(--bg-color);
    padding: 96px 40px;
    display: grid;
    align-items: center;
}
#subscribe article {
    background:linear-gradient(rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.555)), url(images/computer-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    color: var(--text-color);
    border-radius: 10px;
    padding: 180px 40px;
}
#subscribe article p {
    padding: 10px;
    line-height: 150%;
    text-align: justify;
    font-size: 140%;
    color: var(--main-color);
}
#subscribe article form {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#subscribe article form input[type=email] {
    padding: 15px;
    background-color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    flex-basis: 40%;
}
#subscribe article form input[type=email]::placeholder {
    color: var(--bg-color);
    font-weight: 700;
}
#subscribe article form button {
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius: 0 8px 8px 0;
    color: var(--second-bg-color);
    font-weight: 600;
}
#gallery {
    background-color: var(--second-bg-color);
    padding: 100px 40px;
}
#gallery > p {
    text-align: center;
    color: var(--main-color);
    padding: 20px;
    line-height: 150%;
}
#gallery main {
    display: flex;
    gap: 40px;
    padding: 10px;
    height: 65vh;
}
#gallery .slider {
    width: 40%;
    overflow: hidden;
}
#gallery .slider .slide {
    display: flex;
    animation: slide 12s infinite linear 0s;
}
#gallery .slider .slide img {
    width: 100%;
}
#gallery article {
    width: 60%;
    display: grid;
    align-items: center;
}
#gallery article p {
    padding: 10px;
    line-height: 150%;
    text-align: justify;
    font-size: 140%;
    color: var(--text-color);
}
#gallery article .visit {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
}
#gallery article button {
    border: none;
    background-color: var(--main-color);
    padding: 14px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 5px 5px 5px var(--bg-color);
    color: var(--bg-color);
}
#gallery article button::after {
    content: "→";
    position: relative;
    left: 5px;
    font-weight: bold;
    font-size: 140%;
    animation: shift 1.5s infinite alternate 0s;
}
#gallery article button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 2px 2px 5px var(--main-color);
}
#gallery article button:active {
    box-shadow: none;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

#contact {
    background-color: var(--bg-color);
    padding: 100px 40px;
}
#contact > p {
    text-align: center;
    color: var(--main-color);
    padding: 20px;
    line-height: 150%;
}
#contact main {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px;
}
#contact main article {
    background-color: var(--second-bg-color);
    flex-basis: 35%;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 20px;
}
#contact main article aside {
    background-color: var(--bg-color);
    display: flex;
    gap: 15px;
    padding: 15px;
}
#contact main article aside i {
    background-color: var(--main-color);
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    color: var(--bg-color);
}
#contact main article aside span {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#contact main article aside span h3 {
    color: var(--main-color);
}
#contact main article aside span p {
    color: var(--text-color);
}
#contact main article aside span a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.4s;
}
#contact main article aside span a:hover {
    color: var(--main-color);
    text-decoration: underline;
}
#contact main form {
    background-color: var(--second-bg-color);
    flex-basis: 70%;
    padding: 20px;
}
#contact main form .row1 {
    display: flex;
    gap: 20px;
    padding: 10px;
}
#contact main form .row1 input {
    width: 50%;
    padding: 12px;
    background: var(--bg-color);
    color: var(--text-color);
}
#contact main form input::placeholder,
#contact main form textarea::placeholder {
    color: var(--text-color);
}
#contact main form .row2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
#contact main form .row2 input,textarea {
    width: 100%;
    padding: 12px;
    background: var(--bg-color);
    color: var(--text-color);
}
#contact main form .row2 .submit {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#contact main form .row2 .submit button {
    border: none;
    background-color: var(--main-color);
    padding: 14px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    box-shadow: 5px 5px 5px var(--bg-color);
    color: var(--bg-color);
}
#contact main form .row2 .submit button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 2px 2px 5px var(--main-color);
}
#contact main form .row2 .submit button:active {
    box-shadow: none;
}
footer {
    background-color: var(--second-bg-color);
    padding: 100px 0;
}
footer main {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px 0;
}
footer main .sect1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer main .sect1 #topic {
    text-align: center;
    cursor: pointer;
}
footer main .sect1 #topic h1 {
    font-size: 150%;
    color: var(--text-color);
}
footer main .sect1 #topic #title-small {
    font-size: 80%;
    font-weight: lighter;
}
footer main .sect1 form {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
footer main .sect1 form input[type=email] {
    padding: 15px;
    padding-right: 50px;
    background-color: var(--text-color);
    border-radius: 8px 0 0 8px;
    flex-basis: 40%;
}
footer main .sect1 form input[type=email]::placeholder {
    color: var(--bg-color);
    font-weight: bold;
}
footer main .sect1 form button {
    background-color: var(--main-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 0 8px 8px 0;
    color: var(--bg-color);
    font-weight: 600;
}

footer main .sect1 .social {
    display: flex;
    gap: 20px;
    justify-content: center;
}
footer main .sect1 .social .fa {
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 140%;
}
footer main .sect1 .social .fa-facebook:hover {
    background-color: #3b5998;
    color: var(--text-color);
    border: 2px solid #3b5998;
    transform: translateY(-4px);
}
footer main .sect1 .social .fa-linkedin:hover {
    background-color: blue;
    color: var(--text-color);
    border: 2px solid blue;
    transform: translateY(-4px);
}
footer main .sect1 .fa-twitter:hover {
    background-color: #55ACEE;
    color: var(--text-color);
    border: 2px solid #55ACEE;
    transform: translateY(-4px);
}
footer main .sect1 .social .fa-instagram:hover {
    background-color: rgb(218, 12, 153);
    color: var(--text-color);
    border: 2px solid rgb(218, 12, 153);
    transform: translateY(-4px);
}
footer main .sect1 .social .fa-whatsapp:hover {
    background-color: #25d366;
    color: var(--text-color);
    border: 2px solid #25d366;
    transform: translateY(-4px);
}

footer main .sect2 {
    display: flex;
    gap: 65px;
    padding: 20px;
    color: var(--text-color);
}
footer main .sect2 article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer main .sect2 article a {
    text-decoration: none;
    color: var(--text-color);
}
footer main .sect2 article a:hover {
    color: var(--main-color);
    text-decoration: underline;
}
footer main .sect2 article span h3 {
    color: var(--main-color);
}
footer main .sect2 article span ul {
    list-style: none;
}
footer main .sect2 article span li {
    padding: 10px 0;
    list-style: none;
}
.line {
    height: 2px;
    background-color: var(--main-color);
}
.copyright {
    background-color: var(--second-bg-color);
    padding: 50px 0;
    text-align: center;
    display: grid;
    gap: 15px;
    align-items: center;
    color: var(--text-color);
}
.copyright :last-child {
    font-weight: bold;
    color: var(--main-color);
}
.copyright p {
    line-height: 150%;
    color: var(--text-color);
}


@media screen and (min-width:1120px) {
    header nav ul li ul {
        list-style: none;
        padding: 13px 0;
        background-color: var(--second-bg-color);
        text-align: left;
        position: absolute;
        border-top: 6px solid var(--main-color);
        border-bottom: 6px solid var(--main-color);
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    header nav ul li ul li {
        display: none;
    }
    header nav ul li:hover ul li {
        display: block;
    }
    header nav #nested ul li {
        padding: 3px 10px;
    }
    header nav #nested ul li:hover {
        background-color: var(--main-color);
    }
    header nav ul li ul li a {
        color: var(--text-color);
        font-weight: lighter;
    }
    header nav ul li ul li a:hover {
        color: var(--text-color);
        transition: 0.2s;
    }
    header nav ul li ul li:hover::after {
        width: 0;
    }
    header nav ul li .fa-angle-down {
        display: none;
    }
    header nav ul li::after {
        content: "";
        display: block;
        height: 1.5px;
        background-color: var(--main-color);
        width: 0;
        transition: 0.7s;
        margin-top: 4px;
    }
    header nav ul li:hover::after {
        width: 100%;
    }
    #hero {
        height: var(--height);
    }
    footer {
        height:calc(var(--height) - 162.986px) ;
    }
}


@media screen and (max-width:1120px) {
    header .fa-bars {
        display: block;
    }
    header .fa-close {
        display: block;
    }
    header nav ul li .fa-angle-down {
        display: inline;
        color: var(--bg-color);
    }
    header #title {
        display: flex;
        gap: 10px;
    }
    header #title span {
        color: var(--main-color);
    }
header nav #all-ul {
    display: block;
    background-color: var(--bg-color);
    display: grid;
    position: fixed;
    right: -200%;
    top: 0;
    width: 40%;
    justify-items: center !important;
    height: 100%;
    text-align: center !important;
    align-items: center;
    transition: 1s;
    overflow-Y: auto;
    padding-bottom: 10px;
}
header nav #all-ul li {
    padding: 10px;
}
header nav ul li ul {
    background-color: inherit;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 0;
    text-align: center;
}
header nav ul li ul li {
    display: none;
}
header nav ul #check:checked ~ li .first-child li {
    display: block;
}
header nav ul #check2:checked ~ li .last-child li {
    display: block;
}
header nav ul li ul li a {
    color: var(--text-color);
    font-weight: lighter;
}
header nav ul li ul li a:hover {
    color: var(--main-color);
}
header button {
    display: none;
}
header nav ul #btn {
    display: block;
}
header nav ul #btn::after {
    content: "→";
    position: relative;
    left: 5px;
    font-weight: bold;
    animation: shift 1.5s infinite alternate 0s;
}
}
@media screen and (max-width:1030px) {
footer {
    padding: 20px;
}
footer main {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
footer main .sect1 #topic {
    text-align: start;
}
footer main .sect1 form {
    justify-content: start;
    margin-right: 0;
    margin-left: 0;
}
footer main .sect1 .social {
    justify-content: start;
}
footer main .sect2 {
    flex-direction: column;
    gap: 20px;
}
footer main .sect2 article {
    flex-direction: column;
    gap: 10px;
}
}
@media screen and (max-width:1163px) {
    #team main {
        flex-wrap: wrap;
    }
    #team article {
        flex-basis: 35%;
    }
    #gallery article p {
        font-size: 140%;
    }
}
    @media screen and (max-width:950px) {
        #about article {
            display: flex;
            flex-direction: column;
            gap: 45px;
            height: auto;
        }
        #about .about-img {
            width: 100%;
            height: 500px;
        }
        #about .about-text {
            width: 100%;
        }
    }
    @media screen and (max-width:1125px) {
        #hero {
            height: 100vh;
        }
    }
    @media screen and (max-width:870px) {
        #gallery main {
            flex-direction: column;
            height: fit-content;
        }
        #gallery .slider {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        #gallery .slider .slide img {
            width: 100%;
        }
        #gallery article {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 65px;
            margin-left: auto;
            margin-right: auto;
        }
        #subscribe article {
            width: 95%;
            padding: 40px;
        }
    }
    @media screen and (max-width:825px) {
        #contact main {
            flex-direction: column;
        }
    }
    @media screen and (max-width:733px) {
        #subscribe {
            height: 100%;
        }
        #subscribe article {
            width: 95%;
        }
        footer {
            padding: 0px;
        }
    }
    @media screen and (max-width:600px) {
        header nav #all-ul {
            width: 70%;
        }
        #gallery {
            padding: 100px 5px;
        }
        #gallery main {
            padding: 5px;
        }
        #gallery .slider {
            width: 100%;
        }
        #gallery article {
            width: 100%;
        }
        footer main {
            padding: 10px 0;
        }
        footer main .sect1 form {
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
        footer main .sect1 form input[type=email] {
            border-radius: 10px;
        }
        footer main .sect1 form button {
            border-radius: 8px;
        }
        footer main .sect1 .social {
            gap: 10px;
        }
        footer main .sect1 .social .fa {
            border-radius: 60px;
            font-size: 140%;
        }
    }
    @media screen and (max-width:680px) {
        p {
            font-size: 100% !important;
        }
    }
    @media screen and (max-width:665px) {
        #team main {
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 40px;
        }
        #team article img {
            height: 450px;
        }
        #team article {
            flex-basis: 35%;
        }
    }
    @media screen and (max-width:575px) {
        #about {
            padding: 100px 10px;
        }
        #about .about-text ul li {
            font-size: 110%;
        }
        #about .about-img {
            width: 100%;
        }
        #about .about-text {
            width: 100%;
            padding: 20px 5px;
        }
        #subscribe {
            padding: 96px 5px;
            height: 87.6vh;
        }
        #subscribe article {
            width: 95%;
        }
        #subscribe article form {
            flex-direction: column;
            gap: 10px;
        }
        #subscribe article form input[type=email] {
            border-radius: 10px;
            flex-basis: 40%;
        }
        #subscribe article form button {
            border-radius: 8px;
        }
        footer main .sect1 .social .fa {
            border-radius: 60px;
            font-size: 140%;
        }
    }
    @media screen and (max-width:550px) {
        header {
            padding: 10px;
        }
        header #title {
            flex-direction: column;
            gap: 1px;
            font-size: 70%;
            text-align: start !important;
            justify-content: start;
        }
        #about .about-text ul li {
            font-size: 100%;
        }
        #team article .social {
            gap: 7px;
        }
        #team article .social .fa {
            border-radius: 50px;
            font-size: 120%;
        }
        #contact {
            padding: 15px;
        }
        #contact main form .row1 {
            flex-direction: column;
        }
        #contact main article aside span a {
            font-size: 85%;
        }
        #contact main form .row1 input {
            width: 100%;
        }
        
    }
    @media screen and (max-width:400px) {
        #team article img {
            height: 300px;
        }
    }
    @media screen and (max-width:350px) {
        header nav #all-ul {
            width: 100%;
        }
        #contact main article aside span a {
            font-size: 65%;
        }
    }
    @media screen and (max-width:335px) {
        #team article img {
            height: 200px;
        }
    }
    @media screen and (max-width:305px) {
        #subscribe {
            padding: 10px;
        }
        #subscribe article {
            width: 100%;
            padding: 40px 10px;
        }
        footer main .sect1 .social {
            gap: 5px;
        }
        footer main .sect1 .social .fa {
            border-radius: 0;
            border: none;
        }
    }